<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Nehemia H</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>
    <header>
        <h1>Andrew Nehemia H</h1>
        <p>1906400311</p>
    </header>
    <main>
        <img class="img-drew" src="../../static/home/img/JP06.jpg" alt="andrew nehemia">
        <section>
            <ul>
                <li>Nama: Andrew Nehemia H</li>
                <li>NPM: 1906400311</li>
                <li>Angkatan: 2019</li>
                <li>Hobi: Menggambar dan bermain musik</li>
                <li>Deskripsi: Saya adalah anak satu-satunya, lahir tahun 2001</li>
                <li>Tempat Kuliah: Universitas Indonesia</li>
            </ul>
            
            <table class="table-1">
                <h1 class="table-title">Riwayat Pendidikan</h1>
                <thead>
                    <tr>
                        <th>Sekolah</th>
                        <th>Lama Sekolah</th>
                        <th>Daerah Sekolah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SD Victory Plus</td>
                        <td>6 Tahun</td>
                        <td>Bekasi</td>
                    </tr>
                    <tr>
                        <td>SMPK 5 BPK PENABUR</td>
                        <td>3 Tahun</td>
                        <td>Jakarta Timur</td>
                    </tr>
                    <tr>
                        <td>SMAK 7 BPK PENABUR</td>
                        <td>3 Tahun</td>
                        <td>Jakarta Timur</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2020, 1906400311</p>
    </footer>
</body>
</html>